* {
    border: 1px solid purple;
}

body {
    display: flex;
    background-color: black;
    margin: 0;
  
}

.left-sidebar i {
    color: white ;
    font-size: 34px;
    margin-right: 21px;
    
   
}


.left-sidebar {
    display: flex;
    flex: 3;
    height: 600px;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
    position: fixed;
    margin-left: 44px;
    overflow-y: auto;
   
   
   
}
 .main-content {
    display: flex;
    flex: 18;
    flex-direction: column;
 }

 header {
    display: flex;
    position: fixed;
    margin-left: 100px;

 }
 
 .header-left {
    width: 555px;
    display: flex;

 }

 .header-left button {
    padding: 12px 48px;
    background: black;
    color: gray;
 }

 .header-right {
    margin-left: 25px;
    width: 505px;
    
 }
 
 .header-right button {
    width: 253px;
    padding: 12px 48px;
    background: black;
    color: gray;
   
 }

 

.left-sidebar img {
    width: 39px;
    border-radius: 30px;
    margin-right: 18px;
}


.twit-create {
    margin-top: 43px;
    display: flex;
    margin-left: 100px;
}

.twit-create img {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
    
}


.twit-create-details {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
    flex: 10 ;
} 

.post1 {
    display: flex;
    margin-left: 100px;
    color: white;

}

.post1-details {
    flex: 10;
    display: flex;
    flex-direction: column;
}

.post1-details-row1 {
    display: flex;
    align-items: center;
    height: 24px;
}
.post1-details-row1-left{
    display: flex;
    align-items: center;
    flex: 9;
}

.post1-details-row1-left p {
    margin-left: 8px
}

.dobt {
    margin-bottom: 24px;
}

.post1-details p {
    margin: 0;
}

.post1-details-row1 button {
    flex: 0;
    margin: 13px 2px;
    background: black;
    color: white;
}


.post1 h3 {
    flex: 3 ;
}

.post1-prof-photo {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
    
}

.post1-blue-tick {
    width: 14px;
    margin-left: 5px;
}

.post1-main-photo {
    aspect-ratio: 4 / 5;
    width: 646px;
    height: 558px;
    margin-top: 18px;
    border-radius: 15px;
}

.post1-interaction-buttons {
    display: flex;
}

.post1-interaction-buttons-left {
    display: flex;
    flex: 5;
    justify-content: space-between;
}
.post1-interaction-buttons-right {
    flex: 2;
    
    margin-left: 90px;
}

.post1-interaction-buttons-right :nth-child(2) {
    margin-left: 22px;
}

.post1-interaction-buttons-right :nth-child(1) {
    margin-left: 67px ;
}



.twit-options-send-button {
    display: flex;
  
}



.twit-create-options {
    margin-top: 14px;
    padding-top: 12px;
    color: rgb(29, 155, 240);
    flex: 4;
}








.membership-advice {
    border: 2px solid gray;
    padding-top: -14px;
    margin-top: 28px;
    border-radius: 22px;
    width: 233px;
    margin-left: 25px;
}

.membership-advice button {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 22px;
    border-radius: 19px;
}






.right-left-content {
    display: flex;
    align-items: stretch;
    
}

.center-content {
    flex : 8 ;
    flex-direction: column;
}




.right-advice {
    flex: 4 ;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.topics-to-be-discussed {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    margin-top: 28px;
    border-radius: 22px;
    width: 233px;
    margin-left: 25px;
}


.topics1,
.topics2,
.topics3,
.topics4,
.topics5,
.topics6 {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    
    
}

.topics1-row1,
.topics2-row1,
.topics3-row1,
.topics4-row1,
.topics5-row1,
.topics6-row1 {
    display: flex;

}

.topics1-row1 button,
.topics2-row1 button,
.topics3-row1 button,
.topics4-row1 button,
.topics5-row1 button,
.topics6-row1 button {
    flex: 3;
    margin: 13px 2px;
    background: black;
    color: white;
}

.topics1-row1 p,
.topics2-row1 p ,
.topics3-row1 p ,
.topics4-row1 p ,
.topics5-row1 p ,
.topics6-row1 p  {
    flex: 44 ;
}




.send-button {
    flex: 1;
    background-color: rgb(29 155 240 / 47%);
    color: #ffffff9e;
    padding: 0px 4px;
    border-radius: 19px;
    font-size: 16px;
    }

    .twit-create-options  :nth-child(2),
    .twit-create-options  :nth-child(3),
    .twit-create-options  :nth-child(4),
    .twit-create-options  :nth-child(5) {
        margin-left: 20px;
    }

/*
samet
*/
