* {
    border: 1px solid purple;
}

body {
    display: flex;
    background-color: black;
    margin: 0;
  
}

.left-sidebar i {
    color: white ;
    font-size: 34px;
    margin-right: 21px;
   
}


.left-sidebar {
    display: flex;
    flex: 3 ;
   height: 600px;
   flex-direction: column;
   align-items: flex-end;
   gap: 24px ;
   
   
   
}
 .main-content {
    display: flex;
    flex: 18;
    flex-direction: column;
 }

 header {
    display: flex;
    position: fixed;

 }
 
 .header-left {
    width: 555px;
    display: flex;

 }

 .header-left button {
    padding: 12px 48px;
    background: black;
    color: gray;
 }

 .header-right {
    margin-left: 25px;
    width: 400px;
 }
 
 .header-right button {
    width: 253px;
    padding: 12px 48px;
    background: black;
    color: gray;
 }

 

.left-sidebar img {
    width: 39px;
    border-radius: 30px;
    margin-right: 18px;
}


.twit-create {
    margin-top:43px ;
    display: flex;
}

.twit-create-details {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.twit-create-details button {
    color: rgb(29, 155, 240);
    background-color: black;
}

.twit-create-options {
    margin-top: 14px;
    padding-top: 12px;
    color: rgb(29, 155, 240);
}



.membership-advice {
    border: 2px solid gray;
    padding-top: -14px;
    margin-top: 28px;
    border-radius: 22px;
    width: 233px;
    margin-left: 25px;
}

.membership-advice button {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 22px;
    border-radius: 19px;
}




.twit-create img {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
    
}



.right-left-content {
    display: flex;
    
}

.center-content {
    flex : 8 ;
}

.right-advice {
    flex: 4 ;
    color: white;
    margin-top: 20px;
}


/*
samet
*/
