* {
    border: 1px solid purple;
    border: 0
}

body {
    display: flex;
    background-color: black;
    margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






.left-sidebar {
    display: flex;
    flex: 3 1 0%;
    height: 600px;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
    position: fixed;
    margin-left: 70px;
    overflow-y: auto;
   
   
   
}

.left-sidebar i {
    color: white;
    font-size: 23px;
    margin-right: 21px;
    
   
}




.left-sidebar button {
    background: black;
    color: rgba(227, 224, 224, 0.534);
    border: 0;
    padding: 0;
    cursor: pointer;
}

.left-sidebar i:hover {
    background: gray;
}



 .main-content {
    display: flex;
    flex: 18 1 0%;
    flex-direction: column;
    margin-left: 30px;
 }

 header {
    display: flex;
    position: fixed;
    margin-left: 100px;

 }
 
 .header-left {
    width: 555px;
    display: flex;

 }

 .header-left button {
    padding: 12px 85px;
    background: black;
    color: gray;
    white-space: nowrap;
    background-color: rgba(10, 10, 10, 0.363);
    backdrop-filter: blur(25px);
    border: 0 ;
    cursor: pointer;
 }

 .header-left :nth-child(1) {
    border-left: 1px solid #403f3f;
 }
 .header-left :nth-child(3) {
    border-right: 1px solid #403f3f;
    width: 263px;
    
 }

 .header-left button:hover  {
    background-color: rgba(74, 74, 74, 0.5); 
    backdrop-filter: blur(25px);
 
   
 }

 .header-left button:focus {
    border-bottom: 2px solid rgb(25, 124, 236);
    color: white ;
    font-weight: bold;  
    font-size: 200;
 }

 .header-right {
    margin-left: 205px;
   
    height: 43px;
    
 }
 
 .search-box {
    width: 193px;
    padding: 12px 54px;
    background: #353535;
    color: white;
    border-radius: 30px;
   
    border: 0;
}

.input:focus {
    border-color: rgb(25, 124, 236);
    
}

.header-right i {
    position: relative;
    color: #989595e6;
    right: 290px;
}

 

 

.left-sidebar img {
    width: 39px;
    border-radius: 30px;
    margin-right: 18px;
}


.twit-create {
    margin-top: 43px;
    display: flex;
    margin-left: 100px;
    padding: 18px;
    border: 1px solid #403f3f;
}

.twit-create img {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
    
}


.twit-create-details {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
    flex: 10 ;
} 

.h3 {
    color: gray;
    font-weight: 200;
}

.post1 {
    display: flex;
    margin-left: 100px;
    color: white;
    padding: 18px;
    border: 1px solid #403f3f;
}

.post1-details {
    flex: 10;
    display: flex;
    flex-direction: column;
}

.post1-details-row1 {
    display: flex;
    align-items: center;
    height: 24px;
}
.post1-details-row1-left{
    display: flex;
    align-items: center;
    flex: 9;
}

.post1-details-row1-left p {
    margin-left: 8px
}

.dobt {

    padding-bottom: 6px;
}

.post1-details p {
    margin: 0;
}

.post1-details-row1 button {
    flex: 0;
    margin: 13px 2px;
    background: black;
    color: white;
}


.post1 h3 {
    flex: 3 ;
}

.post1-prof-photo {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
    
}

.post1-blue-tick {
    width: 14px;
    margin-left: 5px;
}

.post1-main-photo {
    aspect-ratio: 4 / 5;
    width: 646px;
    height: 558px;
    margin-top: 18px;
    border-radius: 15px;
}

.post1-interaction-buttons {
    display: flex;
    cursor: pointer;
    
}

.post1-interaction-buttons button i {
    font-size: 14px;
    cursor: pointer;
    
}


.post1-interaction-buttons-left {
    display: flex;
    flex: 3 ;
    justify-content: space-between;

}
.post1-interaction-buttons-left button {
    background: black;
    color: rgba(227, 224, 224, 0.534);
}

.post1-interaction-buttons-right button {
    background: black;
    color: rgba(227, 224, 224, 0.534);
}



.post1-interaction-buttons-right {
    flex: 1;
    
}

.post1-interaction-buttons-right :nth-child(2) {
   position: relative;
   left: 70px ;

}

.post1-interaction-buttons-right :nth-child(1) {
   position: relative;
   left: 33px ;
   font-size: medium;
}


.post2 {
    display: flex;
    margin-left: 100px;
    color: white;
    padding: 18px;
    border: 1px solid #403f3f;
}
.post2-prof-photo {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
}


.post2-details {
    display: flex;
    flex: 10;
    
    flex-direction: column;
}

.post2-details-row1 {
    display: flex;
    align-items: center;
    height: 24px;
   
}


.post2-details-row1-left {
    display: flex;
    align-items: center;
    flex: 9;
}
 
.post2-prof-photo {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
}


.post2-details-row1 button {
    flex: 0;
    margin: 13px 2px;
    background: black;
    color: white;
}

.post2-main-photo {
    aspect-ratio: 4 / 5;
    width: 646px;
    height: 558px;
    margin-top: 18px;
    border-radius: 15px;
}



.post2-interaction-buttons {
    display: flex;
}

.post2-interaction-buttons-left {
    display: flex;
    flex: 3 ;
    justify-content: space-between;

}
 .post2-interaction-buttons-left button {
    background: black;
    color: rgba(227, 224, 224, 0.534);
}

.post2-interaction-buttons-right button {
    background: black;
    color: rgba(227, 224, 224, 0.534);
}



 .post2-interaction-buttons-right {
    flex: 1;
    
}

.post2-interaction-buttons-right :nth-child(2) {
   position: relative;
   left: 70px ;

}

.post2-interaction-buttons-right :nth-child(1) {
   position: relative;
   left: 33px ;
   font-size: medium;
}


.message-box {
    display: flex;
    color: white;
    background: black;
    padding: 14px 6px;
    margin-top: 735px;
    border: 1px solid gray;
    width: 360px;
    position: fixed;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.message-box-left {
    flex: 12;
    text-align: left;
}

.message-box-right {
    display: flex;
    gap: 17px;
}

.message-box-right :nth-child(2) {
    color: white;
}







.twit-options-send-button {
    display: flex;
    cursor: pointer;
  
}



.twit-create-options {
    margin-top: 14px;
    padding-top: 12px;
    color: rgb(29, 155, 240);
    flex: 4;
}








.membership-advice {
    border: 1px solid #403f3f;
    margin-top: 28px;
    border-radius: 22px;
    width: 233px;
    margin-left: 25px;
    padding: 12px;
}

.membership-advice button {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 22px;
    border-radius: 19px;
    border: 0;
    cursor: pointer;
}






.right-left-content {
    display: flex;
    align-items: stretch;
    
}

.center-content {
    flex : 8 ;
    flex-direction: column;
}




.right-advice {
    flex: 4;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 0

}

.topics-to-be-discussed {
    display: flex;
    flex-direction: column;
    border: 1px solid #403f3f;
    margin-top: 28px;
    border-radius: 22px;
    width: 233px;
    margin-left: 25px;
    padding: 13px;
}

.topics1 p ,
.topics2 p,
.topics3 p,
.topics4 p,
.topics5 p,
.topics6 p {
    margin: 0;
}



.topics1,
.topics2,
.topics3,
.topics4,
.topics5,
.topics6 {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    
    
}

.topics1-row1,
.topics2-row1,
.topics3-row1,
.topics4-row1,
.topics5-row1,
.topics6-row1 {
    display: flex;
    height: 20px;

}

.topics1-row1 button,
.topics2-row1 button,
.topics3-row1 button,
.topics4-row1 button,
.topics5-row1 button,
.topics6-row1 button {
    flex: 3;
    margin: 13px 2px;
    background: black;
    color: white;
    cursor: pointer;
}

.topics1-row1 p,
.topics2-row1 p ,
.topics3-row1 p ,
.topics4-row1 p ,
.topics5-row1 p ,
.topics6-row1 p  {
    flex: 44 ;
}




.send-button {
    flex: 1;
    background-color: rgb(29 155 240 / 47%);
    color: #ffffff9e;
    padding: 0px 4px;
    border-radius: 19px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    }

    .twit-create-options  :nth-child(2),
    .twit-create-options  :nth-child(3),
    .twit-create-options  :nth-child(4),
    .twit-create-options  :nth-child(5) {
        margin-left: 20px;
    }

 .follow-advice {
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-right: 66px;
    border: 1px solid #403f3f;
    border-radius: 22px;
    gap: 19px;
    
    width: 264px;

 }

 .follow-advice-1 ,
 .follow-advice-2 ,
 .follow-advice-3 {
    display: flex;
 }



.follow-advice-1 img ,
.follow-advice-2 img ,
.follow-advice-3 img {
    width: 51px;
    border-radius: 30px;
    margin-right: 18px;
    height: 52px;
    flex: 2
}

.follow-advice-1-profil-info ,
.follow-advice-2-profil-info ,
.follow-advice-3-profil-info {
    display: flex;
    flex-direction: column;
    flex: 18;
}

.follow-advice-1 button ,
.follow-advice-2 button ,
.follow-advice-3 button {
    margin: 9px;
    flex: 5;
    padding: 6px 10px;
    white-space: nowrap;
    border-radius: 30px;

} 

.follow-advice-1-profil-info h4 ,
.follow-advice-2-profil-info h4 ,
.follow-advice-3-profil-info h4 {
    margin: 0;
    white-space: nowrap;
}

.follow-advice-1-profil-info p ,
.follow-advice-2-profil-info p ,
.follow-advice-3-profil-info p {
     margin: 0;
}

.follow-advice-2-profil-info h4 img {
    position: relative;
    width: 14px;
    left: 5px;
    height: 14px;
    top: 2px;
}

.follow-advice :nth-child(5) ,
.topics-to-be-discussed :nth-child(7) {
   color:  rgb(29, 155, 240);
   background: black;
   cursor: pointer;
}

.footer button {
    background: black;
    color: gray;
    cursor: pointer;
}

.footer button:hover {
   text-decoration: dashed;
}

.footer {
    width: 320px;
    margin: 23px;
}

.footer p {
    color: gray;
}


/*
samet
*/
